* {
    box-sizing: border-box;
}

h1 {
    color: navy;
    font-size: 24px;
    background-color: aquamarine;
    line-height: 10px;
}

h2 {
    color: navy;
    font-size: 18px;
}

p {
    display: block;
    color: whitesmoke;
}

