* {
    box-sizing: border-box;
}


dialog {
    background-color: transparent;
    cursor: pointer;
}


h1 {
    color: navy;
    font-size: 30px;
    background-color: red;
    line-height: 15px;
}

h2 {
    color: navy;
    font-size: 18px;
}

p {
    display: block;
    color: whitesmoke;
}

